.App {
  text-align: center;
}
.navContainer{
  height: 5vh;
  background: rgb(13,95,181);
  background: linear-gradient(90deg, rgba(6,102,232,1) 10%, rgba(255,254,254,1) 100%);
}
a {
  width: 30%;
  padding: 0 1em;
  text-decoration: none;
  color: black;
}

.aboutContainer{
  font-family: fantasy;
  font-size: x-large;
  /* background-image: url(../../public/Images/background-OnePiece.webp); */
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

}
.homePageInformation{
  display: block;
  font-family: fantasy;
  font-size: xx-large
}
.homePageInformation img{
  width: 100%;
  height: 50vh; 
  object-fit: contain
}
.homePageInformation p{
  width: 100%;
}

.homeContainer{
  font-family: fantasy;
  font-size: large;
}

.charactersContainer{
  margin: 0 5vw;
  width: 90vw;
  display: grid;
  border: 1px solid black
}
.charactersContainer h1{
  font-family: fantasy;
  font-size: xxx-large;
  margin-bottom: 0;
}
.filterComponent{
  margin-bottom: 1em;
}

.characterDisplay{
  display: flex;
  flex-wrap: wrap;
  width: 100%; 
  height: 100%; 
  border: 1px solid black
}

.characterCard{
  width: 33%;
  flex-grow: 1;
  padding: 1px;
  margin: 5px;
  background-color: rgb(113,159,239,1);
  border-radius: 50px;
 
}

.characterCard img{
  padding-top: 10px; 
  width: 100px; 
  height: 100px; 
  object-fit: contain fill;
  border-radius: 30px;
}
.characterCard ul{
  list-style: none;
  text-align: left
}

.characterForm{
  margin: 0 5%;
}
.characterForm input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}