.App {
  background-color: rgb(246 174 66);
  text-align: center;
}
.navContainer{
  height: 5vh;
  background-color: rgb(246 174 66);
}
a {
  width: 30%;
  padding: 0 1em;
  text-decoration: none;
  color: black;
}

.aboutContainer{
  font-family: fantasy;
  font-size: x-large;
  height: 200vh;
  background-color: rgb(246 174 66);
  background-repeat: repeat;
  background-size: cover;
}
.aboutContainer :nth-child(2){
  margin: 5%;
}
.aboutContainer p{
  border: 1px solid black;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap-reverse;
  width: 50%;
  height: fit-content;
  font-size: large;
  border-radius: 5px;
  background-color: lightgray;
}
.p1{
  float: right;
  margin: 20% -30%;
}
.aboutImage{
  margin-right: 10%;
  float: right;
  height: 81vh;
  margin-top: 0%;
}
.homePageInformation{
  display: block;
  font-family: fantasy;
  font-size: xx-large
}
.homePageInformation img{
  width: 100%;
  height: 50vh; 
  object-fit: contain
}
.homePageInformation p{
  width: 100%;
}

.homeContainer{
  font-family: fantasy;
  font-size: large;
}

.charactersContainer{
  margin: 0 5vw;
  width: 90vw;
  display: grid;
}
.charactersContainer h1{
  font-family: fantasy;
  font-size: xxx-large;
  margin-bottom: 0;
}
.filterComponent{
  margin-bottom: 1em;
}

.characterDisplay{
  display: flex;
  flex-wrap: wrap;
  width: 100%; 
  height: 100%; 
}

.characterCard{
  width: 33%;
  flex-grow: 1;
  padding: 1px;
  margin: 5px;
  background-color:#FFC107;
  border-radius: 50px;
 
}

.characterCard img{
  padding-top: 10px; 
  width: 100px; 
  height: 100px; 
  object-fit: contain fill;
  border-radius: 30px;
}
.characterCard ul{
  list-style: none;
  text-align: left
}

.characterForm{
  margin: 0 5%;
}
.characterForm input{
  width: 100%;
  padding: 12px 20px;
  margin: 20px 0;
  box-sizing: border-box;
  background-color: papayawhip;
}
button{
  background-color: papayawhip;
  border: none;
  border-radius: 8px;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 5px;
  box-shadow: 0 .5px #999
}
button:hover{
  background-color: black;
  color: papayawhip;
  cursor: pointer;
}
button:active {
  background-color: black;
  box-shadow: 0 .5px #666;
  transform: translateY(1px);
}

.row{
  height: 2.5rem;
  display: flex;
  width: 100%;
  bottom: 0;
  position: relative;
  margin-top: 1em;
  align-items: center;
}
.col-6{
  width: 50%;
}