.App {
  text-align: center;
}
.navLinks{
  height: 5vh;
  background: rgb(13,95,181);
  background: linear-gradient(90deg, rgba(6,102,232,1) 10%, rgba(255,254,254,1) 100%);
}
a {
  width: 30%;
  padding: 0 1em;
  text-decoration: none;
  color: black;
}

.about{
  font-family: fantasy;
  font-size: x-large;
  background-image: url(../../public/Images/background-OnePiece.webp);
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;

}
.information{
  display: flex;
  font-family: fantasy;
  font-size: xx-large
}
.information img{
  width: 33%;
  height: 50vh; 
  object-fit: contain
}
.information p{
  width: 33%;
}
.homePage{
  font-family: fantasy;
  font-size: large;
}

.charactersContainer{
  margin: 0 5vw;
  width: 90vw;
  display: grid;
  border: 1px solid black
}
.charactersContainer h1{
  font-family: fantasy;
  font-size: xxx-large;
  margin-bottom: 0;
}
.filterComponent{
  margin-bottom: 1em;
}

.characterDisplay{
  display: flex;
  flex-wrap: wrap;
  width: 100%; 
  height: 100%; 
  border: 1px solid black
}

button img{
  width: 10px;
  height: 10px;
}

.characterCard{
  width: 33%;
  flex-grow: 1;
  padding: 1px;
  margin: 5px;
  background-color: grey;
  border-radius: 50px;
 
}

.characterCard img{
  padding-top: 10px; 
  width: 100px; 
  height: 100px; 
  object-fit: contain fill;
  border-radius: 30px;
}
.characterCard ul{
  list-style: none;
  text-align: left
}